@charset "UTF-8";

th,td {
    border: solid 1px;              /* 枠線指定 */
}

#myTable {
width: 1400px;
height: 200px;
}

th {
background: grey;
}

td {
text-align: center;
}

#myTable {
margin: auto;
}
