@charset "UTF-8";

th,td {
  border: solid 1px;              /* 枠線指定 */
}

#myTable {
  width: 1400px;
  height: 200px;
}

td {
  text-align: center;
  background: white;
}

#myTable {
  margin: auto;
}
